@tailwind base;
@tailwind components;
@tailwind utilities;

/* 'garco-blue': '#034196',
				'garco-text-black': '#1E1E1E',
				'garco-text-white': '#F5F5F5',
				// FFFFFF
				'garco-bg-white': '#F5F5F5', */

:root {
	--garco-blue: #034196;
	--garco-text-black: #1e1e1e;
	--garco-text-white: #f5f5f5;
	--garco-bg-white: #f5f5f5;
}
